body{
    font-family:arial;
}
h1{
    font-size:16px;
    text-align:center;
}
h4{
    font-size:14px;
    text-align:center;
}
.header,
.subheader{
    color:grey !important;
}
.subheader{
    font-weight:normal !important;
}
p,td,li{
    font-size:12px;
}
table{
    border-collapse:collapse;
}
table>tr,
table>tr>td{
    border:1px solid black;
    text-align:center;
}
